a.link-no-underline:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    opacity: 0.9;
    text-decoration: none;
}
.question-list-item:hover {
    opacity: 0.9;
    background-color: #f8f9fa;
}
